.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #10101a; /* теперь цвет как на главной странице */
  border-bottom: 1px solid #444;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.header-nav {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 18px;
}

.divider {
  color: #555;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  margin-left: -15px; /* немного сдвинул левее */
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.search-icon {
  margin-right: 5px;
  color: white;
}

.right-section {
  display: flex;
  gap: 15px;
  margin-right: 15px; /* отодвинул правее */
}

.header-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
